<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>New Password</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-content: center; margin-top: 50px;">
        <table>
            <tr>
                <td style="background-color: #1e272e; border-radius: 10px;">
                    <h1 style="font-family: Arial, Helvetica, sans-serif; color: #ecf0f1; margin: 10px; text-align: center;">
                        New Password
                    </h1>
                </td>
            </tr>

            <tr>
                <td>
                    
                </td>
            </tr>
            
            <tr style="background-color: #fbc531; border-radius: 10px;">
                <td style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 20px; border-radius: 10px; padding-bottom: 20px;">
                    Hello : <br>
                    {{email}} <br><br>
    
                    <p style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; ">
                        You receive this email because of forgot password request from your account. <br>
                        Simply insert the new password when you log in in our app. <br>
                    </p>

                    {{newPassword}} <br> <br>
                    
                </td>
            </tr>

            <tr style="background-color: #1e272e;">
                <td style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-radius: 10px; color: #ecf0f1; padding: 10px;">
                    If you feel you don't know about this activity, simply ignore this email or contact us at: <br><br>
                    Customer Care
                </td>
            </tr>
        </table>
    </div>


    
</body>
</html>